@use '@/assets/scss/common/variables' as *;

//Самые часто используемые стили миксинов
@mixin text($weight, $size, $leading) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: $leading;
}

@mixin flex-items-center{
  display: flex;
  align-items: center;
}

@mixin flex-items-start{
  display: flex;
  align-items: start;
}

@mixin flex-center {
  @include flex-items-center;
  justify-content: center;
}

@mixin flex-between {
  @include flex-items-center;
  justify-content: space-between;

}

@mixin flex-gap($gap) {
  @include flex-items-center;
  gap: $gap
}

@mixin flex-col-gap($gap){
  @include flex-gap($gap);
  flex-direction: column;
}

@mixin flex-col-reverse-gap($gap){
  @include flex-gap($gap);
  flex-direction: column-reverse;
}


