@use 'variables' as *;
@use 'mixins' as *;

// Общие устилитарные стили
.block{
  padding-bottom: 100px;
  &-title{
    margin-bottom: 60px;
  }
}

.background{
  background-image: radial-gradient(circle at 50% 30%, $color-bg1, $color-bg2);
  width: 100%;
  min-height: 100vh;
}

.container{
  margin: 0 auto;
  width: #{$container-max}px;
  @media (max-width: $screen-2xl) {
    width: #{$container-2xl}px;
  }
  @media (max-width: $screen-xl) {
    width: #{$container-xl}px;
  }
  @media (max-width: $screen-lg) {
    width: #{$container-lg}px;
  }
}



// Утилитарные стили работы с текстом
h1{
  @include text($size: 56px, $weight: 600, $leading: 72px);
  @media(max-width: $screen-xl){
    @include text($weight: 600, $size: 48px, $leading: 56px)
  }
  @media(max-width: $screen-lg){
    @include text($weight: 600, $size: 32px, $leading: 48px)
  }
  @media(max-width: $screen-md){
    @include text($weight: 600, $size: 28px, $leading: 32px)
  }
}

h2{
  @include text ($weight: 600, $size: 32px, $leading: 40px);
  @media(max-width: $screen-xl){
    @include text($weight: 600, $size: 24px, $leading: 32px)
  }
}

h3{
  @include text ($weight: 600, $size: 24px, $leading: 32px);
}

.info-text{
  @include text ($weight: 600, $size: 20px, $leading: 32px);
  @media(max-width: $screen-xl){
    @include text($weight: 600, $size: 18px, $leading: 24px)
  }
}

.text{
  @include text ($weight: 500, $size: 16px, $leading: 24px);
}

.medium-text{
  @include text ($weight: 500, $size: 14px, $leading: 20px);
}

.second-text{
  @include text ($weight: 400, $size: 12px, $leading: 16px);
}

.text-slate{
  color: $color-slate;
}
