//Цвета
$color-orange: #FF5722;
$color-light-orange: #FF7F22;
$color-blue: #22B3E3;
$color-light-blue: #7CDAF9;
$color-disabled: #4C5865;

$color-disabled-text: #7D90A6;
$color-text: #ffffff;
$color-slate: #A3B8CC;

$color-dark-blue: #26394D;
$color-gray: #212529;


//Ширина экранов(стилизация через media идет черех максимальные значения переменных)

$screen-2xl: 1919px;

$screen-xl: 1024px;
$screen-lg: 767px;
$screen-md: 479px;
$screen-sm: 320px;


//Map-коллекция размеров экрана и контейнера для каждого размера
$containersMap: (
  max: 1016,
  #{$screen-2xl}: 756px,
  #{$screen-xl}: 496px,
  #{$screen-lg}: 236px
);


