//Цвета
$color-orange: #FF5722;
$color-light-orange: #FF7F22;
$color-blue: #22B3E3;
$color-light-blue: #7CDAF9;
$color-disabled: #4C5865;

$color-disabled-text: #7D90A6;
$color-text: #ffffff;
$color-slate: #A3B8CC;

$color-bg1: #26394D;
$color-bg2: #212529;


//Ширина экранов(стилизация через media идет черех максимальные значения переменных)
$screen-2xl: 1900px;
$screen-xl: 1023px;
$screen-lg: 767px;
$screen-md: 439px;
$screen-sm: 319px;


//Значение ширины контейнеров
$container-max: 1016px;
$container-2xl: 756px;
$container-xl: 650px;
$container-lg: 280px;

//Map-коллекция размеров экрана и контейнера для каждого размера
$containersMap: (
  max: 1016,
  #{$screen-2xl}: 756px,
  #{$screen-xl}: 650px,
  #{$screen-lg}: 280px
);


