$color-orange: #FF5722;
$color-light-orange: #FF7F22;
$color-blue: #22B3E3;
$color-light-blue: #7CDAF9;
$color-disable: #4C5865;

$color-text: #ffffff;
$color-slate-text: #A3B8CC;

$color-bg1: #26394D;
$color-bg2: #212529;



