@import 'screenSizes';

$container-max: 1016;
$container-2xl: 756;
$container-xl: 650;
$container-lg: 280;


.container{
  margin: 0 auto;
  width: #{$container-max}px;
  @media (max-width: $screen-2xl) {
    width: #{$container-2xl}px;
  }
  @media (max-width: $screen-xl) {
    width: #{$container-xl}px;
  }
  @media (max-width: $screen-lg) {
    width: #{$container-lg}px;
  }
}
