@import '@/assets/scss/base';
@import '@/assets/scss/colors';
@import 'screenSizes';
@import '@/assets/scss/text';
@import '@/assets/scss/mixins';
@import '@/assets/scss/container';

.block{
  padding-bottom: 100px;
  &-title{
    margin-bottom: 60px;
  }
}

.background{
  background-image: radial-gradient(circle at 50% 30%, $color-bg1, $color-bg2);
  width: 100%;
  min-height: 100vh;
}

